@mixin flex ($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5BC8A;
}
