.where {
    @include flex(space-around, center, row);
    min-height: 100vh;

    .map {
        margin: auto auto auto 8rem;
        border: 15px solid #310D09;
    }
}

.cards-where {
    width: 70%;
    margin: auto 6rem auto auto;
}

.card-where {
    @include flex(space-around, center, row);
	text-align: center;
	flex: 1 1 25rem;
	min-height: 20vh;
	margin: 2rem 5rem;	
    background: #875034;
    border-radius: 25px;   
    padding: 1.3rem; 

	h3 {
		padding: 2rem;
        line-height: 1.8;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 2rem;
        color: #310D09;

        a {
            text-decoration: none;
            color: #310D09;
        }

    }
}