.cards {
    width: 90%;
    min-height: 100vh;
	margin: auto;
	display: flex;
    align-items: center;
    @include flex(space-between, center, row);
	flex-wrap: wrap;

	img {
		max-width: 15%;
		margin: 2rem;
	}
}

.card {
	text-align: center;
	flex: 1 1 25rem;
	min-height: 40vh;
	margin: 2rem 5rem;	
    background: #310D09;
    border-radius: 25px;    

	h2 {
		padding: 1rem;
        line-height: 1.8;
        font-family: Caveat Brush;
        font-weight: normal;
        font-size: 3.5rem;
        color: #E5CDB0;
	}

	p {
		padding: 1rem;
        line-height: 1.8;
        font-family: 'Montserrat', sans-serif;
        color: whitesmoke;
	}
}